.App {
  text-align: center;
  font-size: 14px;
}
.border-primary{
  width: 500px !important;
  border-color: 	#E8E8E8 !important;
  padding-top:10px;
  padding-bottom:10px;
}
.box{
  border-top: 1px solid #E8E8E8;
  padding-top: 5px;
  padding-bottom: 5px;
}
.capitalize{
  text-transform: capitalize !important;
}
.smallBox{
  height: 44px;
}
.rounded-circle{
  margin-top: 10px;
  margin-left: 15px;
  color: white;
  font-size: 16px;
  padding: 2px;
  width: 30px;
  height: 30px;
  background-color: #9bca3d!important;
}
.title{
  font-size: 20px;
  padding-bottom: 25px;
}
.revenue{
  padding: 2px;
  font-size: 12px;
}